<script nomodule src="https://unpkg.com/@google/model-viewer@v0.3.1/dist/model-viewer-legacy.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ar.js"></script>
<script src="https://aframe.io/releases/1.3.0/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/donmccurdy/aframe-extras/v6.1.0/dist/aframe-extras.min.js"></script>
<script src="https://unpkg.com/aframe-obj-loader/dist/aframe-obj-loader.min.js"></script>

<div>
    <a-scene>
        <!-- Register the model-loader component -->
        <a-entity model-loader></a-entity>
      </a-scene>
      

    <!-- <a-scene>
        <a-assets>
            <a-asset-item id="tree-obj" src="web-ar-angular-frontend/src/assets/the_crowned_ring.obj"></a-asset-item>
            <a-asset-item id="tree-mtl" src="web-ar-angular-frontend/src/assets/the_crowned_ring.mtl"></a-asset-item>
          </a-assets>
        <a-entity load-model-on-click="obj: #tree-obj; mtl: #tree-mtl"></a-entity>
        </a-scene> -->
</div>
<app-header></app-header>
<router-outlet></router-outlet>
